$var title : Hakkımızda
$var url = "/about"
<script type="text/javascript" src="C:\Users\TOSHIBA\Desktop\app\js\jquery-2.1.3.js"></script>
<script src="C:\Users\TOSHIBA\Desktop\app\js\highcharts.js"></script>
<script type="text/javascript" src="C:\Users\TOSHIBA\Desktop\app\js\chart.js"></script>        
       <div id="templatemo_content_right">
	    <h1><span>HAKKIMIZDA</span></h1>
        	<p><h2>Geliştiriciler:</h2><b>Mikail CEREN mcrn46@gmail.com <br>Caner DEMİR ebcan04@gmail.com</b><br>
Group Number:21
 
    	
