$def with (form)

$var title: Kitap Ekle


            <div id="templatemo_content_right">
                <h1><span>Yeni Kitap Ekle</span></h1>
                <p class="info noprint">
                
                <form name="main"  enctype="multipart/form-data" method="post">                     
                    $:form 
					<input type="submit" value="Kitap Ekle" style="margin-left:76px; margin-top:10px;">                  
                    
                </form>    
                </p>

                
            </div> 
