$def with (books, author_aid)
$var title : Kitaplarımız

       <div id="templatemo_content_right">    
    $for book in books: 
        $ book_name = book.title.replace(" ","_")
	<ul>      
	   
         <div class = "templatemo_product_box">
		 <h1>$book.title  <span>$author_aid[book.aid]</span></h1> 
		 <img src="/static/images/$book.img"  alt="CSS Template" width="100" height="150" />
		 <div class="product_info">
                	
                    <li><b>Fiyatı:</b> $book.price</li>
                    <li><b>Yayın Yılı:</b> $book.year</li>
                    <li><b>Yayın Evi:</b> $book.yayinevi</li>
                    <li><b>Dili:</b> $book.language</li>
                    <li><b>Satıldığı Yerler:</b> <a href="http://www.kitapyurdu.com">$book.shop</a> </li>					
                    <div class="summary_button"><a href="/book/$book_name/$book.bid">Özet Oku</a></div>                                      
                </div>
		
		<div class="cleaner">&nbsp;</div>    	
            </div>	
			$if book.bid%2 == 0:
			     <div class="cleaner_with_height">&nbsp;</div> 
				
		    $else:
			      <div class="cleaner_with_width">&nbsp;</div>                
    </ul>

             
