$var title : Anasayfa
$var url = "/"
        <div id="templatemo_content_right">
        	<div class="anasayfa">
            	
   	       <a href = "/books"><img src="/static/images/kitaplar.jpg" alt="image" /> <br><h2>KİTAPLAR</h2></a>
                
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="anasayfa">
            	
       	    <a href = "/yazarlar"><img src="/static/images/yazar.jpg" alt="image" /> <br><h2>YAZARLAR</h2></a>
                
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            
            <div class="anasayfa">
            	
   	      <a href = "/yayinevi"><img src="/static/images/matbaa.jpg" alt="image" /> <br><h2>YAYINEVLERİ</h2></a>             
                
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="anasayfa">
            	
           <a href = "/authors"><img src="/static/images/shop.jpg" alt="image" /> <br><h2>KİTAP SEÇ</h2></a>
             
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            
            
    
    	
